.header {
    border-bottom: 1px solid $primary-border-color;
}

.header__container {
    position: relative;
    width: 100%;
}

.header__nav {
    @include centeredFlex;
}

@media screen and (max-width: 767px) {
    .header__navigation {
        @include centeredFlex ($justify: space-between);
        width: 480px;
    }
}
@media screen and (min-width: 768px) {
    .header__container {
        width: 768px;
    }
    .header__nav {
        justify-content: space-between;
    }
}
@media screen and (min-width: 1200px) {
    .header__container {
        width: 1200px;
    }
}