.client {
    @extend %list;
    @include wrapedFlex;
    
    justify-content: space-between;
    margin-bottom: -30px;
}
.client__item {
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 30px;
}
.client__link {
    @include centeredFlex;
    @include transition(border-color);
    @include transition(fill);

    height: 92px;
    border: 1px solid $secondary-list-color;
    box-sizing: border-box;
    border-radius: 4px;

    &:hover,
    &:focus {
        border-color: $accent-color;

        .client__icon {
            fill: $accent-color;
        }
    }
}

.client__icon {
    fill: $secondary-list-color;
    @include transition(border-color);
    @include transition(fill);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .client {
        margin-right: -30px;
    }
    .client__item {
        margin-right: 30px;
        flex-basis: calc((100% - 90px) / 3);
        
    }
    .client__link {
        width: 226px;
    }
}
@media screen and (min-width: 1200px) {
    .client {
        flex-wrap: nowrap;
    }
    .client__link {
        width: 170px;
        margin-right: 0;
    }
}
