$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$primary-white-color: #ffffff;
$primary-black-color: #000000;
$background-bg-color: #2F303A;
$background-section-color: #F5F4FA;
$secondary-accent-color: #188CE8;
$secondary-border-color: #EEEEEE;
$secondary-contact-color: #ffffff60;
$primary-border-color: #ECECEC;
$secondary-list-color: #AFB1B8;

$primary-font: 'Roboto','Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
$secondary-font: 'Raleway', sans-serif;